*,
*::before,
*::after {
    box-sizing: border-box; 
}
html{
    font-size: 16px;
}
body {
    margin: 0;
    background-color:#fff;
}

/* HEADER */
.site-header {
    width:100%;
    display:block;
}
.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}
.flex-container {
    display: flex;
}
.site-header .container {
    justify-content: space-between;
    align-items: center;
}
.main-nav li {
    list-style:none;
}
.main-nav a {
    color:#000;
    text-transform:uppercase;
    text-decoration: none;
    font-size:0.875rem;  /* 14/16=0.875*/
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.04em;
    padding:16px 12px;
    margin:0px 10px;
    display:inline-block;
    cursor:pointer;  
}
.main-nav a:hover, .main-nav a:active {
    border-bottom: 5px solid #e8bf5d;
}
.mobile-nav {
	display: none;
}
.logo {
    padding: 49px 0 44px;
}
/* HEADER PABAIGA*/
/*PRE-FOOTER SECTION PRADŽIA*/
.pre-footer > .container{
    padding-bottom: 100px;
    margin-top: 0;
}
.pre-footer-nav {
  display: inline-block;
  padding: 3px;
  margin-bottom: 20px;
  justify-content: center;
  float: right;
  text-align: end;
  font-family: 'Open Sans', sans-serif;
  font-size:0.875rem;
  text-transform: uppercase 
}
.pre-footer a{
    background-color:cadetblue;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 3px;
}
.pre-footer a:hover{
    color: #e8bf5d;
}
/*PRE-FOOTER SECTION PABAIGA*/
/* FOOTER PRADŽIA*/
.site-footer{
    background-color: #000;
    color: #fff;
    display: block;
}
.site-footer .container{
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    margin: 0 auto;
}
.links li{
    list-style: none;
    display:inline-block;
    padding: 0 10px;
    font-size: 1rem;
}
.links a {
    cursor: pointer;
}